
header{
    background-color: hsl(239, 100%, 62%);
    padding: auto;
    margin: auto;
}

 
ul{
    list-style-type: none;
    display: flex;
    justify-content: stretch;
}
li {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #fff6;
    flex: 1;
    text-align: center;
}

li:hover {
    background-color: #476ed8;
    color: white;  
}