
header, footer {
    background-image: linear-gradient(to right, #2323f3, blueviolet);
    padding: 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
}

 h1 {
    text-align: center ;
    color: #e4e45a
 }
    
ul{
    list-style-type: none;
    display: flex;
    justify-content: stretch;
}
li {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #fff6;
    flex: 1;
    text-align: center;
}

li:hover {
    background-color: #47d8c0;
    color: white;  
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}
a{
    color: #3b4675;
    text-decoration-line: none;
}
a:hover {
    color: lab(53.71% 21.52 -72.56);
    text-decoration: underline;
}
a:visited {
    color: hwb(54 0% 0%);
}
