body {
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    background-color: #F4F0F8; 
    color: #333; 
    font-size: 25px;
}

header {
    background-color: #5F27CD; 
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Lexend Deca', sans-serif;
}


h1 {
    text-align: center;
    color: #FFD700; 
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
}

ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
    margin: 0;
    gap: 10px; 
}

li {
    background-color: #FFFFFF; 
    border-radius: 8px; 
    transition: all 0.3s ease; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

li:hover {
    background-color: #F0F0F0; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}


li.ativo {
    background-color: #FFD700; 
    box-shadow: 0 2px 6px rgba(255, 215, 0, 0.5);
}


a {
    display: block; 
    padding: 12px 25px;
    color: #5F27CD;
    text-decoration: none;
    font-weight: bold;
}


li.ativo a {
    color: #4A20A4; 
}

h3, h2, p {
    padding: 0 20px;
    font-family: 'Lexend Deca', sans-serif;
     font-size: 25px;
}

img{
    width: 500px;
    height: 500px;
    margin: auto;
    display: block;
    margin-top: 4%;
    border-radius: 5%;
    
}
#esquerda{
    float: left;
    display: inline;
    width: 500px;
    padding-left: 50px;
  
}

#direita{
float: right;
display: inline;
width: 500px;
padding-right: 50px;
margin-right: 0px;

}
.lexend-deca{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.imagens{
    width: 300px;
    height: 300px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
}

th, td {
    border: 1px solid #c6a8f1;
    padding: 10px;
    text-align: left;
    font-size: 25px;
}

th {
    background-color: white;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
    caption-side: top;
    font-size: 20px;
}
